@import './variables.scss';

html{
    height: 100%;
}

body{
    background-color: $bgColor;
    height: 100%;
    font: $font-main;
}
.noPadding{
    padding: 0;
}
.navColor{
    background-color: $rleWhite;
}
col{
    @include justifyCenter;
}